<%= simple_form_for(task, :remote => true ) do |f| %>
  <%= f.input :completed, input_html: {class: 'submit-on-change'}, label: false, wrapper_class: 'inline-block'  %> 

  <%= task.scenario.name %> 
  
  <span class="edited-by gray">
    <%= render 'tasks/task_author', task: task %>
  </span>

<% end %>
