<ul class='steps-list field-builder no-bullets'>

  <%= f.simple_fields_for :assumptions do |fn| %>
    <%= render 'assumptions/basic_fields', :fn => fn %>
  <% end %>

  <li><%= add_fields_link "Add Assumption", f, :assumptions, 'basic_fields', 'btn clear-outline' %></li>
</ul><!-- /.collaborators-list -->