<%= simple_form_for(@group) do |f| %>  
  <div class="form-inputs ">
    <%= f.input :name, placeholder: '+ New Group', label_html: {class: 'accessibility'}, input_html: {class: 'final-enter transparent'} %>
    <%= f.input :project_id, as: :hidden %>
  </div>


<% end %>
