
<ul class="ruled">
    <% @projects.each do |project| %>
      <li>
        <h3 class='no-bottom-margin inline'><%= link_to project.name, project %></h3>
        <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, project, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    <% end %>
  </tbody>
</ul>
<%= link_to 'New Project', new_project_path, class: 'btn'  %>
