<ul class='steps-list field-builder no-bullets'>
  <%= f.simple_fields_for :steps do |fn| %>
    <%= render 'steps/basic_fields', :fn => fn %>
  <% end %>

  <li><%= add_fields_link "Add Step", f, :steps, 'basic_fields', 'btn clear-outline' %></li>
</ul><!-- /.collaborators-list -->