//colors: color attributes should preferably not be directly attached to any component. For a little more extensibility, secondary classes containing color information can be applied to any element, controlled here, and then chained.

body {
  color: $color-gray-6;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-dark;
}

.red {
  color: $color-red;
}

.blue {
  color: $color-blue;
}

.green {
  color: $color-green;
}

.yellow {
  color: $color-yellow;
}

.gray {
  color: $color-gray-5;
}


a, .color-reversed .color-normal a {
  color: $color-dark;
  text-decoration: none;

  &:hover {
    color: $color-gray-4;
  }

  &:active {
    color: $color-gray-8;
  }

  &.yellow {
    color: $color-yellow;

    &:hover {
      color: $color-yellow-dark;
    }

    &:active {
      color: $color-yellow-darker;
    }
  }

  &.red {
    color: $color-red;
    
    &:hover {
      color: $color-text-yellow;
    }
    &:active {
      color: $color-gray-7;
    }
  }

}

.color-bg-dark {
  background-color: $color-dark;
}

.alert-danger{
  color: $color-red;
}


.color-reversed  {
  color: $color-light;
  background-color: $color-dark;

  a {
    color: $color-gray-7;
    
    &:hover { 
      color: $color-gray-10;
    }
    &:active {
      color: $color-gray-5;
    }

    &.yellow-clear{
    color: $color-yellow;

      &:hover{
        color: $color-yellow-dark;
      }

      &:active{
        color: $color-yellow-darker;
      }
    }
  }
}

.btn {
  @include transition(all .1s);
  background-color: $color-gray-4;
  color:$color-light;
  border: 1px solid transparent;

  &:hover {
    background-color: $color-dark-gray;
    color:$color-light;
  }
  &:active {
    background-color: $color-super-dark;
    color:$color-light;
  }

  .color-reversed & {
    
    color: $color-light;
    &:hover {
      background-color: $color-gray-2;
    }
    &:active {
      background-color: $color-dark;
      color: $color-light;
    }
  }

  
  &.yellow {
    background-color: $color-yellow;
    color: $color-dark-gray;
    &:hover {
      background-color: $color-yellow-dark;
       color: $color-dark-gray;
    }
    &:active {
      background-color: $color-yellow-darker;
       color: $color-dark-gray;
    }
  }

  &.yellow-outline {
    border: 1px solid $color-yellow;
    background-color: transparent;
    color: $color-yellow;

    &:hover {
      border: 1px solid $color-yellow-dark;
      color:$color-yellow-dark;
    }
    &:active {
      border: 1px solid $color-yellow-darker;
      color: $color-yellow-darker;
    }

  }

  
  &.red, &.btn-danger {
    background-color: $color-red;
    color: $color-light;

    &:hover {
      background-color: $color-red-dark;
      color:$color-light;
    }
    &:active {
      background-color: $color-red-darker;
      color:$color-light;
    }
  }

  &.red-outline {
    border: 1px solid $color-red;
    background-color: transparent;
    color: $color-red;

    &:hover {
      border: 1px solid $color-red-dark;
      color:$color-red-dark;
    }
    &:active {
      border: 1px solid $color-red-darker;
      color: $color-red-darker;
    }

  }

  &.green {
    background-color: $color-green;
    color: $color-light;

    &:hover {
      background-color: $color-green-dark;
    }
    &:active {
      background-color: $color-green-darker;
      color:$color-light;
    }
  }

  &.green-outline {
    border: 1px solid $color-green;
    background-color: transparent;
    color: $color-green;

    &:hover {
      border: 1px solid $color-green-dark;
      color:$color-green-dark;
    }
    &:active {
      border: 1px solid $color-green-darker;
      color: $color-green-darker;
    }

  }

  &.blue {
    background-color: $color-blue;
    color: $color-light;

    &:hover {
      background-color: $color-blue-dark;
    }
    &:active {
      background-color: $color-blue-darker;
      color:$color-light;
    }
  }



  &.blue-outline {
    border: 1px solid $color-blue;
    background-color: transparent;
    color: $color-blue;

    &:hover {
      border: 1px solid $color-blue-dark;
      color:$color-blue-dark;
    }
    &:active {
      border: 1px solid $color-blue-darker;
      color: $color-blue-darker;
    }

  }

  &.clear, &.btn-default {
    background-color: transparent;
    color: $color-gray-6;

    &:hover {
      background-color: transparent;
      color: $color-blue;
    }
    &:active {
      background-color: transparent;
      color: $color-blue-dark;
    }
  }

  &.clear-outline {
    background-color: transparent;
    color: $color-gray-4;
    border: 1px solid $color-gray-4;

    &:hover {
      color: $color-dark;
      border: 1px solid $color-dark;
    }

    &:active {
      color: $color-super-dark;
      border: 1px solid $color-super-dark;
    }

  }

  &.clear-white {
    background-color: transparent;
    color: $color-light;
    border: 1px solid $color-light;
    
    &:hover {
      background-color: $color-light;
      color: $color-dark-gray;
    }
    &:active {
      background-color: $color-yellow;
      color: $color-dark-gray;
      border-color: $color-yellow;
    }
  }

  &[disabled], &.disabled {

    &, &:hover, &:active {
      background-color: $color-gray-10;
      color: $color-gray-8; 
      cursor: default;
    }
  }

  &.dark {
      background-color: $color-dark-gray;
      color:$color-light;

        &:hover {
          background-color: $color-gray-4;
          color:$color-light;
        }
        &:active {
          background-color: $color-super-dark;
          color:$color-light;
        }
    }

}

.border-target {
  @include box-sizing(border-box);
  z-index: 0;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 3px solid $color-yellow;

  .selected-border & {
    display: block;
  }

  &.on-top {
    z-index: 100;
  }
}

.gray-bg {
  background-color: $color-lighter-gray;
}

.med-gray-bg {
  background-color: $color-light-gray;
}

.dark-gray-bg {
  background-color: $color-gray-8;
}

.light-bg {
  background-color: $color-light;
}


.border-light {
  border-color: $color-light;
}

.border-medium {
  border-width: 6px;
}

.color-reversed {
  .section, section {

    .border, .border-thin, &.compact {
      border-color: $color-gray-3;
    }
    
  }
}


.red_field {
  background-color: $color-red;
}
