//components-forms: a subset of components, for form-related styles.

*:focus{
  outline:none;
}

.delete-field-group {
  margin-left: 1em;
}

.form-control {
  @include box-sizing(border-box);
  @include border-radius(3px);
	display: block;
	width: 100%;
  height: 2.5em;
  padding: 0 0.75em;
  font-size: 1em;
  line-height: 1.4em;
  vertical-align: middle;
	color: $color-dark;
	background-color: $color-gray-10;
	background-image: none;
  margin-bottom: .25em;

  &.outlined {
    border-color: $color-gray-7;
    background-color: transparent;
  }
}

input,textarea{
  border: 2px solid $color-gray-9;
}

input:focus, textarea:focus{
  outline: none;
  border: 2px solid $color-yellow;

  &.btn{
    border: 1px solid transparent;
  }
}


textarea, textarea.form-control {
  height: 5.5em; 
  padding-top: .6em;
  resize: none;

  &.tall{
    height: 12em;
  }

  &#conversation_message_body{
    height: 15em;
  }

  &#message_body{
     height: 12em;
  }

}

button,select{
  border: 1px solid $color-gray-9;
}


.color-reversed {
  .form-control {
    background-color: $color-super-dark;
    color: $color-light;
    border: 2px solid $color-super-dark;
  }

  input,textarea{
    border: 2px solid $color-super-dark;
  }

  input:focus,textarea:focus{
    outline: none;
    border: 2px solid $color-yellow;
  }
}

input[type="radio"], input[type="checkbox"] {
  @include inline-block;
  @include box-shadow(none);
  border-radius: 0;
  width: auto;
  border: none;
  margin-right: .5em;
  line-height: 1.3em;
  height: auto; 
  //opacity: 0;
}

input[type="file"] {
  color: $color-med-gray;
  font-size: 0.75em;
  font-style: italic;
  border: none;

  &#release_property_release, #release_model_release {
    margin-bottom: 0.75em;
  }

  &#release_model_release {
    margin-bottom: 0.75em;
  }
}

label {
  font-family: $font-sans;
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: .06em;
  display: block;
  line-height: 1.3em;
  margin-bottom: .4em;
  font-weight: bold;

  &.checkbox, &.radio, &.boolean {
    font-weight:normal;
    font-family: $font-serif;
    text-transform: none;
    letter-spacing: 0;
    font-size: 1em;
  }

  &.sr-only {
    display: none;
  }

}

// text region character count 
.char-countdown {
  padding-right: 2.25em;
}

.char-countdown-counter {
  font-family: $font-sans;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: .04em;
  font-weight: bold;
  color: $color-med-gray;
  position: relative;
  right:.5em;
  top:-2.2em;
  height: 0;

  &.red {
    color: $color-red;
  }
}


.help-block {
	font-size: 0.9em;
	color: $color-gray-3;
	font-style: italic;
	margin-top: 0.75em;
  margin-bottom: 0.75em;
  color: $color-med-gray;

  &.top {
    margin-top: 0;
  }

  &.red {
    color: $color-red;
  }

}

.form-group {
	margin-bottom: 2.5em;
  padding-top: 1em;
  border-top: 1px solid $color-gray-10;
  position: relative;

  &.no-border{
    border-top: none;
  }

  .compact-form & {
    border: 0;
    padding:0;
    margin-bottom: 1em;
    
    &.no-bottom-margin {
      margin-bottom: 0;
    }
  }

  .semi-compact-form & {
    border-top: 0;
    padding-top:0;
    margin-bottom: 1.5em;

    &.no-bottom-margin {
      margin-bottom: 0;
    }
  }

  .semi-compact-border-form & {
    margin-bottom: 1.5em;

    &.no-bottom-margin {
      margin-bottom: 0;
    }
  }

  .borderless-form & {
    border-top:0;
    padding-top:0;
  }
}

.far-away-actions {
	margin-bottom: 2em;
}


//jquery file uploader styles
.upload {
  width: auto;
  margin: 0 0 1.75em;
  padding: 0;
  border: none;
  
  .progress {
    height: 10px;
    
    .bar {
    background-color: $color-yellow;
    height: 100%;
    }
  }
}

.form-tall{
  height: 48px;
}
