//styles for header and navigation


header {
  background-color: $color-dark;

  .logo {
    font-weight: bold;
  }

  ul  {
    margin: .5em 0;
  }

}

.breadcrumb-wrap { 
  clear: both;
  background-color: $color-gray-9;
  color: $color-gray-4;
  .breadcrumbs {
    padding: .5em 0;
  }
}

