//styles for header and navigation


header {
  background-color: $color-dark;

  .logo {
    font-weight: bold;
  }

}

.breadcrumb-wrap { 
  clear: both;
  background-color: $color-gray-9;

  .breadcrumbs {
    padding: .2em 0;
  }
}

