//regions: for global elements such as header, footer, or main nav, whose attributes are standalone and don't have a great deal of reuse.

//------------------------------------------
// deployments
//------------------------------------------

.task {
  .edited-by {
    display: none;
  }

  .completed {
    .edited-by {
        display: inline;
      }
  }

  form {
    display: inline;
  }

  .comments-count {
    background-color: $color-gray-9;
  }
}




//------------------------------------------
// tests/scenarios
//------------------------------------------

.priority-indicator {
  border-color: $color-gray-9;
}

.test-name {
  float: left;
}