//typography: global typographic system, including granular modifiers that can be chained together to extend the visual language (ex: p.loud.balanced)


body {
  font-family: $font-serif;
  font-size: 110%;
  line-height: 1.45;

}

h1, h2, h3, h4, h5, h6 {
  font-weight:bold; 
  margin: 0;
  text-rendering: optimizeLegibility;
}

h1 {font-size: 3em; margin-top: 0; margin-bottom: .3em; line-height: 1.1em; }
h2 {font-size: 2.25em; margin-bottom: .3em;}
h3 {font-size: 2em; margin-top:0; margin-bottom: .3em;} 
h4 {font-size: 1.75em; text-transform: uppercase; letter-spacing:.05em;}
h5 {font-size: 1.5em; margin-bottom: .3em; }
h6 {font-size: 1.25em; margin-bottom: .25em; }

p {
  margin-bottom: 0.5em;
  margin-top: 0;
}

.font-big {
  font-size: 1.25em;
}

.font-med {
  font-size: 1.1em;
}

.font-small {
  font-size: .8em;
}

.font-xsmall {
  font-size: .65em;
}

.caps {
  text-transform: uppercase;
  letter-spacing: .05em;
}

.accessibility {
  position: absolute;
  left: -999em;
}


