<%= simple_form_for(@deployment) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name, placeholder: '+ New Deployment From Testing Template', label_html: {class: 'accessibility'}, input_html: {class: 'final-enter transparent'} %>
    <%= f.input :project_id, as: :hidden %>
  </div>
<% end %>
