<% breadcrumb :deployment, @deployment %>

<div class="task-list">
  <% @task_groups.each do |group_id, tasks| %>
    <section class="border">
      <h2><%= Group.find(group_id).name %></h2>
      <ul class="ruled group font-big">
        <% tasks.each do |task| %>
          <%= render 'tasks/task', task: task %>
        <% end %>
      </ul>
    </section>
  <% end %>

</div>
